@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

<img src="images/dog1.jpg" alt="no photo" width="400" height="400" >

    <form method='post' action="Home/Search">
        <label>Search string:</label><br />
        <input name='Search' /><br />
        <input type='submit' value='Send' />
    </form>
    <br/>
    <form  method='post' action="Home/Add" enctype="multipart/form-data">
        <input type="file" name="uploadedFile" /><br>
        <input name='TagsForAddElem' /><br />
        <input type="submit" value="Send" />
    </form>

</div>
